h1{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
#header{
    font-size: 25pt;
    text-align: center;
    color: #de6e63;
    font-family: sans-serif;
    text-shadow: -2px 3px #7a423d;
}
img{
    width: 20%;
    text-align: center;
}
h2{
    margin-left: 20px;
    position: static;
    color: #081e33;
    background-color: #de6e63;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-shadow: px -4px #de6e63; */
    font-size: 20pt;
    /* background-color: yellowgreen; */
    /* border: 5px  double yellowgreen; */
}
.text2{
    text-align: center;
    /* background-color: teal; */
    width: 200px;
}
.text2 span{
    justify-content: center;
}
#moveText{
    margin-top: 40px;
}

.one{
    text-align: center;
    display:  flex;
    flex-wrap: wrap;
    width: 100%;

}
.one > div{
 
    width: 400px;
    margin: auto;

}
.two{
    text-align: center;
    display:  flex;
    flex-wrap: wrap;
    width: 100%;
}

.size
{   margin-top: 3px;
    width: 100%;
}

#move{

    color: #2eb7a4;
    text-align: left;
    margin-left: 0px;
    width: 500px;
}
.size2
{
    color: #2eb7a4;
    margin-top: 5px;
    margin-left: -30px;
    width: 200%;
}
.text2 > h2{
    margin-left: 20px;
}

#only{
    margin-top: 30px;
}

body{
    background-color: #081e33;
}
ul{
    margin-top: 0px;
    color: whitesmoke;
}
li{
    color: #2eb7a4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#picc{
    width: 120%;
    
}
a{
    
    color: #2eb7a4;
}
#info{
    
    margin-top: 20px;
    font-variant : small-caps;
    text-align: center;
    font-family: sans-serif;
    font-size:15px;
    color: #2eb7a4;
}
#info2{
   
    font-variant : small-caps;
    text-align: center;
    font-family: sans-serif;
    font-size:15px;
    color: #2eb7a4;
}
#textlink{
    
    text-decoration: none;

}
#textlink:hover{
    color:#de6e63;
    font-size: 25px;
}
.Link{
    text-decoration: none;
    font-size: 27px;
    color: #2eb7a4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#movepls{
    text-decoration: none;
    font-size: 27px;
    color: #2eb7a4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    margin-bottom: -10px;
}
#textlink2{
   font-size: 40pt;
    text-decoration: none;
    text-shadow:hsl(208, 76%, 5%)-9px 9px;
  
}
#textlink2:hover{
    color:#de6e63;
    font-size:  39pt;
    text-shadow:hsl(208, 76%, 5%)-9px 9px;
} 
hr{
    border: 1px solid #de6e63;
}


